<div class="container mt-4">
  <h1 class="mb-4">Nom de l'artiste:</h1>
  
  
  <div class="form-group">
    <input type="text" id="artistName" [(ngModel)]="Nomartiste" class="form-control" placeholder="Entrez le nom de l'artiste" />
  </div>

  <button (click)="searchlisteArtiste()" class="btn btn-success mb-4">Rechercher</button>

  
  <h2>Résultats</h2>
  <h2>Titres des albums</h2>

  <ul class="list-group">
    <li *ngFor="let album of Albums" class="list-group-item">
      <div class="d-flex justify-content-between align-items-start">
        
   
        <div class="album-info d-flex">
          <img [src]="album.image" alt="{{album.name}}" width="100" height="100" class="img-thumbnail mr-3" />
          <div>
            <p><strong>Artiste:</strong> {{album.artist}}</p>
           <p><strong>Album:</strong> {{album.name}}</p>
            <button (click)="Nomchanson = album.name; searchlisteChanson()" class="btn btn-info btn-sm">Afficher les chansons</button>
          </div>
        </div>

        <div class="chansons-info ml-4" *ngIf="Nomchanson === album.name">
          <h3>Chansons de l'album</h3>
          <ul class="list-group">
            <li *ngFor="let chanson of Chansons" class="list-group-item">
              <p><strong>Chanson:</strong> {{chanson.ChansonName}}</p>
            </li>
          </ul>
        </div>
      </div>
    </li>
  </ul>
</div>
