<div class="container mt-4">
  <h1 class="mb-4">Nom de l'artiste:</h1>
  
  
  <div class="form-group">
    <input type="text" id="artistName" [(ngModel)]="Nomartiste" class="form-control" placeholder="Entrez le nom de l'artiste" />
  </div>

  <button (click)="searchlisteArtiste()" class="btn btn-success mb-4">Rechercher</button>

  
  <h2>Résultats</h2>
  <h2>Titres des albums</h2>

  <ul class="list-group">
    <li *ngFor="let album of Albums" class="list-group-item">
      <div class="d-flex justify-content-between align-items-start">
        
      