
body {
    font-family: 'Roboto', Arial, sans-serif; 
    margin: 0;
    padding: 20px;
}


h1, h2 {
    color: #333;
    font-weight: 700; 
}

h1 {
    font-size: 2rem;
    margin-bottom: 20px;
}

h2 {
    margin-top: 20px;
    font-size: 1.5rem;
    font-weight: 500;
}

input.form-control {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-family: 'Roboto', Arial, sans-serif;
}


button {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 4px;
    cursor: pointer;
    font-family: 'Roboto', Arial, sans-serif;
}

button.btn-info {
    background-color: #17a2b8;
    padding: 6px 10px; 
}

button:hover {
    background-color: #218838; 
}

button.btn-info:hover {
    background-color: #138496;
}


ul.list-group {
    margin-top: 10px;
    padding-left: 0; 
}


li.list-group-item {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-bottom: 15px;
    padding: 15px;
    transition: background-color 0.3s ease;
}

li.list-group-item:hover {
    background-color: #f1f1f1; 
}


.album-info {
    display: flex;
    align-items: center;
}

.album-info img {
    margin-right: 15px;
    border-radius: 4px;
    width: 100px; 
    height: 100px;
    object-fit: cover; 
}


.chansons-info {
    flex-grow: 1;
    max-width: 50%; 
    margin-left: 20px; 
}

.chansons-info h3 {
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 10px;
}

.chansons-info ul.list-group {
    margin-top: 0; 
}


.chansons-info li.list-group-item {
    padding: 8px 12px;
    background-color: #f9f9f9;
    border: none; 
}

.chansons-info li.list-group-item p {
    margin: 0; 
    font-weight: 400;
}
